.carousel .carousel-item {
    max-height: 400px;
    max-width: 50vw;
}
  
.carousel-item img {
    max-height: 400px;
    max-width: 50vw;
    object-fit: cover;
}

@media only screen and (max-width: 935px){
    .carousel .carousel-item {
        max-height: 45vw;
    
    }

    .carousel-item img {
        max-height: 45vw;
        object-fit: cover;
    }
}