/* Style Home */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Billarkdemo';
    src: local("Billarkdemo.otf") format('opentype');
  }

h1,h2,h3,h4,h5 {
    font-family: 'Billarkdemo', sans-serif !important;
}

.carousel .carousel-item {
    height: 600px;
}
  
.carousel-item img {
    object-fit: cover;
}

#home {
    /* background-image: url("http://127.0.0.1:8000/media/rolls/fondo iru.png");
    background-size: contain; */
    font-family: 'Oswald', 'sans-serif' !important;
}

/* Mogra */
/* Quintessential */