.img-container {
    max-height: 200px;
    max-width: 25vw;
}

.size-image {
    object-fit: cover;
    max-height: 200px;
    max-width: 23vw;
}

.card-body > div p{
    font-size: larger;
}

.description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description::after{
    content: ' Ver Más';
    white-space: normal;
}

.description:hover{
    white-space: normal;
    overflow: visible;
    cursor: pointer;
}

.description:hover::after{
    content: '';
}

.counter{
    display: inline-block;
    width: 30px;
    font-size: large;
    font-weight: 800;
}

.total-per-product{
    font-size: large;
    font-weight: 800;
}

